 .user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #929b16;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
 }

 .user-message--error {
    border-color: red;
    background: #f8d7da;
    color: #721c24;
 }

 .form-control {
    margin: 1rem 0;
 }

 .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
 }

 .form-control input,
 .form-control textarea {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .product-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    max-width: 80%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .product-form button {
    padding: 0.5rem;
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
 }

 .product-form button:hover,
 .product-form button:active {
    background-color: #929b16;
    color: white;
 }